/databases/gnps_exp_all.json
/databases/mona_exp_positive.pickle
/early_manual/whole_body_imaging_core_metabolome_v3_f2.tsv
/early_manual/wholebody_imaging_MS_dataset_10_region_metlin_library.csv
/early_manual/wholebody_imaging_MS_dataset_10_region_metlin_library.pickle
/trees/
/spectra/
/sirius/
/images_man/
/databases/
/databases/
/to_metaspace_hq/
/to_metaspace_hq.zip
