/databases/gnps_exp_all.json
/databases/mona_exp_positive.pickle
/early_manual/whole_body_imaging_core_metabolome_v3_f2.tsv
/early_manual/wholebody_imaging_MS_dataset_10_region_metlin_library.csv
/early_manual/wholebody_imaging_MS_dataset_10_region_metlin_library.pickle
/trees/
/spectra/
/sirius/
/images_man/
/databases/
/databases/
/to_metaspace_hq/
/to_metaspace_hq.zip
/METASPACE_img_df_2020_May_18_spotted_9x.zip
/2020_May_18_HQ_dataset_msms_ds_ids.csv
/spectra_negative/
/spectra_positive/
/dsid_processing/
/early_manual/
/out_db/
/to_metaspace/
/test_output/
/spectra_positive/
/spectra_negative/
/trees/
/data_analysis/
/TEST_TEMP_df
/combined_analysis/
/data_analysis/
/METASPACE_img_df_2020_May_26_wholebody_arr/
/METASPACE_img_df_2020_May_18_good_quality_arr_df.pickle
/METASPACE_img_df_2020_May_20_spotted_9x_arr_df.pickle
/METASPACE_img_df_2020_May_26_wholebody_arr_df.pickle
/scratch.ipynb


